.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

__pycache__/
.idea

.DS_Store
tmp*

# mlflow
notebooks/mlflow/data/
# dagster
data/dagster/genres_standardized.csv
notebooks/dagster/scripts
data/dagster/classification_report.csv
data/dagster/confusion_materix.png
# onnx
notebooks/onnx/model/*.onnx
notebooks/onnx/onnx_exercise.py

notebooks/.Trash-0/
